// The overlay where users can gift their NFTs to others

.gift-overlay {
    display: grid;
    place-items: center;

    position: relative;

    input {
        font-family: inherit;
        font-size: 1rem;

        padding: 10px 20px;
        margin-bottom: 2rem;

        background: white;
        color: black;
        border: 2px solid $accent;
        border-radius: 5px;
        outline: none;
    }

    // The Fireman PNG
    .fireman {
        max-height: 50vh;
    }

    // The Send Gift button
    .btn-gift {
        @include button(
            $accent,
            whitesmoke,
            $padding-y: 0.5rem, 
            $padding-x: 1rem,
            $outline: true,
            $click-fx: true
        );
        font-size: inherit;
        width: 80%;

        &:disabled {
            opacity: 50%;
            cursor: not-allowed;
            filter: blur(1px);
        }
    }

    // The wrapped present icon
    .gift-icon {
        position: absolute;
        top: 70px;
        left: 150px;

        margin: 0;
        padding: 0;

        max-height: 10vh;
    }

    // Feedback message (success or error)
    .message {
        margin: 0;
        margin-top: 2rem;
    }
    .error {
        color: red;
    }
    .success {
        color: $blue;
    }
}