// The Header present on every page

header {
    // Stickied at the top, above everything
    position: sticky;
    top: 0;
    z-index: 100;

    // Display
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Size & Padding
    padding: 1rem;

    // Design
    border-bottom: 5px solid white;
    background: linear-gradient(40deg, rgba(2,0,36,1) 0%, rgba(255,62,0,1) 40%, rgba(0,212,255,1) 100%);
    box-shadow: 0px 6px 43px 4px rgba(0,0,0,0.75);

    // Text
    p {
        color: white;
        font-weight: 700;
    }


    // Left side of the header (logo and page routes)
    .header-start {
        display: flex;
        align-items: center;
        gap: 1rem;

        // Page route links
        a {
            padding: 0.5rem 1rem;
            border-radius: 10px;
    
            text-decoration: none;
            color: white;
    
            transition: transform 200ms ease-out;

            // Hover effect
            &:hover {
                transform: scale(1.5);
            }

            // On click
            &:active {
                color: aqua;
            }
        }
    }
}